QMainWindow {
  background-color: #f3f3f3;
}
* {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
QCheckBox::indicator
{
width : 40px;
height : 40px;
}
QToolTip {
  background-color: #f3f3f3;
  border: 2px solid #323f4f;
}

QPushButton {
  background-color: #1b2886;
  color: #fff;
}

QLineEdit, QPushButton,QToolTip {
  border-radius: 5px;
  padding: 3px;
}

QLineEdit {
  background-color: #f3f3f3;
  color: #323f4f;
  border: 2px solid #323f4f;
  /* max-width: 250px; */
}
QLineEdit:focus {
  border-style: dashed;
}
