

QPushButton#SubmitButton {
    background-color: #12a704;
    border-style: outset;
    border-radius: 12px;
    border-color: black;
    border-width: 2px;
    box-shadow: 0px 10px rgb(83, 179, 83);
}